---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';
import ExploraPreview from '../../components/ExploraPreview.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const exploras = (await getCollection('explora')).sort(sortItemsByDateDesc);
    return paginate(exploras, { pageSize: siteConfig.exploraPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'explora'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout
    title="Proyecto"
    description="Proyecto recorrechile.cl"
    image={{ src: '/ovalo.png', alt: 'The preview of the site' }}
    showHeader={false}
>
    <h1>
        El proyecto consiste en desarrollar una plataforma web que reúna y promueva ofertas turísticas de emprendedores locales en Chile. Este sitio tiene como
        objetivo principal visibilizar los emprendimientos turísticos de pequeñas y medianas empresas, fomentando el turismo sostenible y la economía local. La
        plataforma estará organizada por zonas geográficas y tipos de emprendimiento, lo cual permitirá a los usuarios explorar fácilmente las opciones de
        acuerdo con su ubicación o interés. Por ejemplo, los usuarios podrán encontrar actividades como rutas de senderismo, visitas a viñedos, tours
        históricos, alojamientos únicos y experiencias gastronómicas. La web incluirá descripciones detalladas de cada oferta, fotos, ubicaciones y reseñas,
        ofreciendo una herramienta integral para descubrir las diversas experiencias que ofrecen los emprendedores chilenos en distintas partes del país, el proyecto esta 
        recien creado por lo que esta en sus primeras etapas .
    </h1><br>
    <h1>Enlace : <a href="https://recorrechile.cl">www.recorrechile.cl</a></h1>
</BaseLayout>
