* {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
 
header {
  
  background-image: url(../imgs/yoga-gdf35d9332_1280.png);
  height: 700px;
  width: 1200px;
  margin: 0% 5% 0% 6%;  /*para centrar el div a la pantalla porque la imagen es muy grande*/
  border-radius: 10px;
  text-align: right;
  font-size: 4rem;
 
  
  
}



.grilla {
  display: grid; /*Ocupe css grid por si se cololcan mas imagenes despues*/
  grid-template-columns: 50% 50%;
}


.imagen1 {
  background-image: url(../imgs/yoga-gc2416be3f_640.jpg);
  width: 600px;
  height: 400px;
  border-radius: 10px;
  margin: 5%   ;
 
}

.imagen2 {
  width: 600px;
  height: 400px;
  margin: 5%;
  align-items: center;
  display: flex;  /*Para que funcione el centrado de align-items y asi poner el texto al lado de la imagen*/
  font-size: 1.5rem;
  
  
}



.imagen3 {
  background-image: url(../imgs/yoga-g34e2519de_640.jpg);
  width: 600px;
  height: 400px;
  border-radius: 10px;
  margin: 5%;
  
  
}

.imagen4 {
  width: 600px;
  height: 400px;
  margin: 5%;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}

.imagen5 {
  background-image: url(../imgs/yoga-g50ecf061e_640.jpg);
  width: 600px;
  height: 400px;
  border-radius: 10px;
  margin: 5%;
  
}

.imagen6 {
  width: 600px;
  height: 400px;
  margin: 5%;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}

footer{
    background-color: grey;
    
}

.redes {
  font-size: 2rem;
}

