@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    

    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */
    :root { 
        --color-text-main: 30 30 30; /* #1E1E1E - Gris oscuro */
        --color-bg-main: 227 242 253; /* #E3F2FD - Azul cielo suave */
        --color-bg-muted: 207 231 245; /* #CFE7F5 - Azul claro apagado */
        --color-border-main: 120 144 156; /* #78909C - Gris azulado */
    }
    html.dark {
        --color-text-main: 227 242 253; /* #E3F2FD - Azul cielo suave */
        --color-bg-main: 45 45 45; /* #2D2D2D - Gris oscuro */
        --color-bg-muted: 65 65 65; /* #414141 - Gris ligeramente más claro */
        --color-border-main: 150 150 150; /* #969696 - Gris claro */
    }
    
    
    
    
    
    
    
   
    
}
